body{
  margin: 0 auto;
  padding:0;
  ul{
  list-style-type: none;
  }
  img{
    width: 100%;
    height: auto;
  }
}
// MENU
header {
    width: 100%;
    height: 0;
    color: white;
    background-image: url("../img/img-bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-bottom: 52%;
}
#sticky-menu{
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 2%;
}
  .logo {
    float: left;
  }
  .menu{
    font-size: 20px;

    ul{
      display: block;
      li{
        display: inline-block;
        padding-left: 5%;
      }
      li:hover{
        color: #8DC63F;
      }
    }
  }

//HEADER TEXT
.header-text{
  padding-left: 10%;
  padding-top: 16%;
  h2{
    text-transform: uppercase;
  }
}
.shape-first{
  background-image: url("../img/topshape.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-bottom: 5%;
}
// DESCRIPTION
.description{
  padding-left:10%;
  span{
    color: #8DC63F;
  }
  p{
    color: gray;
  }
}
.title-line{
  padding-top:12%;
}
.number{
  color:silver;
  font-size: 35px;
  display: inline-block;
}
.information{
  padding-right:5%;
  .points{
    font-weight: bold;
    line-height: 40px;
    .circle-one {
      width: 40px;
      height: 40px;
      background: #62a70f;
      position: relative;
      border-radius: 50%;
      display: inline-block;
    }
    .circle-one::after {
      content: "1";
      color: white;
      padding-left:15px;
      position: absolute;
      width: 100%;
      height: 100%;
      background: #62a70f;
      border-radius: 50%;
      transform: scale(0.7);
    }
    .circle-one::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: white;
      border-radius: 50%;
      transform: scale(0.9);
    }
  .circle-two {
      width: 40px;
      height: 40px;
      background: #62a70f;
      position: relative;
      border-radius: 50%;
      display: inline-block;
    }
    .circle-two::after {
      content: "2";
      color: white;
      padding-left:15px;
      position: absolute;
      width: 100%;
      height: 100%;
      background: #62a70f;
      border-radius: 50%;
      transform: scale(0.7);
    }
    .circle-two::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: white;
      border-radius: 50%;
      transform: scale(0.9);
    }
    p{
    display: inline-block;
    }
  }
}
.shape-second{
  background-image: url("../img/shape-second.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-bottom: 23%;
    .row{
      padding-top:8%;
      padding-left:10%;
      padding-right: 10%;
      color: white;
      img{
        padding-top:30%;
      }
      .botton{
        padding-top:15%;
        a{
        color: #62a70f;
        }
      }
    }

}
