body {
  margin: 0 auto;
  padding: 0; }
  body ul {
    list-style-type: none; }
  body img {
    width: 100%;
    height: auto; }

header {
  width: 100%;
  height: 0;
  color: white;
  background-image: url("../img/img-bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-bottom: 52%; }

#sticky-menu {
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 2%; }

.logo {
  float: left; }

.menu {
  font-size: 20px; }
  .menu ul {
    display: block; }
    .menu ul li {
      display: inline-block;
      padding-left: 5%; }
    .menu ul li:hover {
      color: #8DC63F; }

.header-text {
  padding-left: 10%;
  padding-top: 15%; }
  .header-text h1 {
    text-transform: uppercase;
    font-size: tahoma; }

.shape-first {
  background-image: url("../img/topshape.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-bottom: 5%; }

.description {
  padding-left: 10%; }
  .description span {
    color: #8DC63F; }
  .description p {
    color: gray; }

.title-line {
  padding-top: 12%; }

.number {
  color: silver;
  font-size: 35px;
  display: inline-block; }

.information {
  padding-right: 5%; }
  .information .points {
    font-weight: bold;
    line-height: 40px; }
    .information .points .circle-one {
      width: 40px;
      height: 40px;
      background: #62a70f;
      position: relative;
      border-radius: 50%;
      display: inline-block; }
    .information .points .circle-one::after {
      content: "1";
      color: white;
      padding-left: 15px;
      position: absolute;
      width: 100%;
      height: 100%;
      background: #62a70f;
      border-radius: 50%;
      transform: scale(0.7); }
    .information .points .circle-one::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: white;
      border-radius: 50%;
      transform: scale(0.9); }
    .information .points .circle-two {
      width: 40px;
      height: 40px;
      background: #62a70f;
      position: relative;
      border-radius: 50%;
      display: inline-block; }
    .information .points .circle-two::after {
      content: "2";
      color: white;
      padding-left: 15px;
      position: absolute;
      width: 100%;
      height: 100%;
      background: #62a70f;
      border-radius: 50%;
      transform: scale(0.7); }
    .information .points .circle-two::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: white;
      border-radius: 50%;
      transform: scale(0.9); }
    .information .points p {
      display: inline-block; }

.shape-second {
  background-image: url("../img/shape-second.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-bottom: 23%; }
  .shape-second .row {
    padding-top: 8%;
    padding-left: 10%;
    padding-right: 10%;
    color: white; }
    .shape-second .row img {
      padding-top: 30%; }
    .shape-second .row .botton {
      padding-top: 15%; }
      .shape-second .row .botton a {
        color: #62a70f; }

/*# sourceMappingURL=style.css.map */
